<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TDMaker.Profile" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TDMaker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TDMaker.Profile>
            <setting name="Authoring" serializeAs="String">
                <value>Untouched</value>
            </setting>
        </TDMaker.Profile>
        <TDMaker.Properties.Settings>
            <setting name="MTNPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MTNArg" serializeAs="String">
                <value>-P -w 0 -c 1 -r 3 -keeeeee -f arial.ttf -g8 -F 000000:12 -L4:2 -j 97</value>
            </setting>
            <setting name="MTNArgs" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>-P -w 0 -c 1 -r 3 -keeeeee -f arial.ttf -g8 -F 000000:12 -L4:2 -j 97</string>
                        <string>-P -N _s.txt -w 0 -c 1 -r 3 -keeeeee -f arial.ttf -g8 -F 000000:12 -L4:2 -j 97</string>
                        <string>-P -N _s.txt -w1024 -c3 -r4 -keeeeee -f arial.ttf -g8 -F 000000:12 -L4:2 -j 97</string>
                        <string>-w 0 -c 1 -r 3 -keeeeee -f arial.ttf -g8 -F 000000:12 -L4:2 -j 97</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="UploadScreenshot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseFullPicture" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlignCenter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PreText" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LargerPreText" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FontSizeHeading2" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="FontSizeBody" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="FontSizeIncr" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Sources" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>DVD-5</string>
                        <string>DVD-9</string>
                        <string>VHS</string>
                        <string>HDTV</string>
                        <string>SDTV</string>
                        <string>LD</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Source" serializeAs="String">
                <value>DVD-5</value>
            </setting>
            <setting name="KeepScreenshot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WebLink" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AnalyzeAuto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AnnounceURLIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CreateTorrent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TorrentFolderDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SettingsDir" serializeAs="String">
                <value />
            </setting>
            <setting name="TorrentsCustomDir" serializeAs="String">
                <value />
            </setting>
            <setting name="TorrentsOrganize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FontSizeHeading1" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="FontSizeHeading3" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Extras" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Intact</string>
                        <string>Shrunk</string>
                        <string>Removed</string>
                        <string>None on Source</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SourceEdits" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Untouched</string>
                        <string>Shrunk</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SourceEdit" serializeAs="String">
                <value>Untouched</value>
            </setting>
            <setting name="ExtrasMode" serializeAs="String">
                <value>Intact</value>
            </setting>
            <setting name="bVideoEdits" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bExtras" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bSource" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WritePublish" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DiscMenus" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Intact</string>
                        <string>Removed</string>
                        <string>Shrunk</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DiscMenu" serializeAs="String">
                <value />
            </setting>
            <setting name="bDiscMenu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TemplatesDir" serializeAs="String">
                <value />
            </setting>
            <setting name="TemplatesMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TemplateIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BrowseDir" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TakeScreenshot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoCheckUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScreenshotDestIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UpdateCheckAuto" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImageShakeRandomizeFileName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunOnce" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowMTNWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImageShackRegCode" serializeAs="String">
                <value />
            </setting>
            <setting name="UseImageShackRegCode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </TDMaker.Properties.Settings>
    </userSettings>
</configuration>